<footer class="bg-light text-center text-muted py-4 mt-5 border-top">
  <div class="container">
    
    <div class="d-flex justify-content-center align-items-center gap-4 mb-3">
      <a href="https://www.unitn.it/" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
        <img src="{{ site.baseurl }}/images/UniTrento_logo.png" alt="Logo Università" style="height: 50px; width: auto;">
      </a>

      <div style="border-left: 1px solid #ccc; height: 40px;"></div>

      <a href="https://dh.lettere.unitn.it/" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
        <img src="{{ site.baseurl }}/images/Aula_logo.png" alt="Logo Progetto" style="height: 50px; width: auto;">
      </a>
    </div>
      
      <div style="border-left: 1px solid #ccc; height: 40px;"></div>

      <a href="https://www.italiadomani.gov.it/it/home.html" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
        <img src="{{ site.baseurl }}/images/PNRR_loghi.png" alt="Logo Progetto" style="height: 50px; width: auto;">
      </a>
    </div>

    <p class="mb-1" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 1rem;">
      © 2026 <em>El marqués de las Navas</em> - Edición Digital Académica |
      <a href="https://github.com/annabate/Elmarques.EDA" target="_blank" class="text-decoration-none text-dark">
        GitHub Repository
      </a>
    </p>

  </div>
</footer>